
*{list-style-type: none;
}
.first{
background: #3361FF;
border: 40px ;
padding: 30px 10px 5px 20px;

}
.first img{
	border: 70px;
	margin:10px  10px 0px 10px;
border-top: 20px;
border-radius: 5px;
}
.first p{
display: inline;
padding-left: 90px;
color: white;
font-size: 19px;
}
.first form{
display: inline;
padding-left: 120px;

}
.first form input{
	padding: 5px;
}
.second{
background-color: #e6e8eb;
padding: 10px 30px 45px 0px;



width: 100%;
height: 10%;
}

.second img{
	float: left;
	padding-right: 40px;
	
	margin-right: 120px;
}
	.second >ul> li {
		 	display: inline;
		 padding:0px 15px 0px 0px;
		float: left;
		position: relative;


	}
	.second ul> li ol {
		 	display:none;}
	
	#home{
	color: white;
		border-radius: 17px;
		margin :6px;
	background : blue;
padding: 10px;
padding-top: 5px;
margin-top: -10px;



	}
	.second a{
		color: black;
		text-decoration: none;}
	
	.second ul li:hover  ol {
		display: block;
		position:absolute;
		margin-left: -30px;
		background-color: white;}
		.second ul li:hover  ol li {
		display: block;
		position: relative;
line-height: 20px;
padding:5px ;
word-spacing: 3px;
margin: 0px;

	}
	a:hover{
		background-color: blue;
	}
	.second ul >li ol> li {
		
		 		display: none;
		 		position: relative;}

 #firstpic {
	height: 60%;
	width: 100%;
}
#para{
	background:#3458eb;
margin: 0px;

}
.head{
	color: green;
}
.heading {
	color:  #4d69db;
	font-weight: bold;
	font-size: 34px;
}

#text{
	margin-left: 8%;
	margin-right: 8%;
	padding: 6px;
	color: #868996;
	word-spacing: 2px;
}
#blue{
	justify-content: 
	clear: both;

	color: white;
	margin: 0px;
	padding: 0px;
	}
/*	position:absolute;*/



#blue2{
	background-color: blue;
	color: white;
	/*padding:20px 40px 20px 50px;*/
	/*position: absolute;*/
	left: 400px;
	margin: 0px;
		margin: 0px;
	padding: 0px;
}
#doctor{
	background-color: blue;
	color: white;
	padding:20px 40px 20px 50px;
/*	position: absolute;*/
	margin: 0px;
	left: 750px;}
	#edu{
	background-color: blue;
	color: white;
	padding:20px 40px 20px 50px;/*
	position: absolute;*/
right: 0px;
margin: 0px;}


#row{

	background-color:blue;}
.green{
	color: green;
	font-size: 20px;
}
#midsection2{
	/*position: relative;*/
	top: 190px;
	color: white;
	clear: both;
	background-color: white;

}
